<h2>The <%=@reservation.user.name%> has signed up for the <%=@reservation.klass.my_time %> class on <%= @reservation.klass.my_date%> </h2>

<h3><%= link_to 'Go back to view classes', "/klasses/" %></h3>

